<div class="container-fluid" ng-controller="AdministrationController as adminCtrl" class="ng-scope">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Général</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group col-md-5">
                        <label for="excelPath">Chemin Fichier Excel</label>
                        <input type="text" class="form-control" id="excelPath" disabled="true"
                               value="{{adminCtrl.config.excelPath}}">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Bons de Livraison</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="receiptNumber">Numéro de BL</label>
                            <input type="text" class="form-control" id="receiptNumber" disabled="true"
                                   value="{{adminCtrl.config.receiptNumber}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-5">
                            <label for="blArchivePath">Chemin Archive BL</label>
                            <input type="text" class="form-control" id="blArchivePath" disabled="true"
                                   value="{{adminCtrl.config.receiptArchivePath}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Facturation</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="invoiceNumber">Numéro de Facture</label>
                            <input type="text" class="form-control" id="invoiceNumber" disabled="true"
                                   value="{{adminCtrl.config.invoiceNumber}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-5">
                            <label for="factureArchivePath">Chemin Archive Facture</label>
                            <input type="text" class="form-control" id="factureArchivePath" disabled="true"
                                   value="{{adminCtrl.config.invoiceArchivePath}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-5">
                            <label for="attestation">Numéro d'Attestation</label>
                            <input type="text" class="form-control" id="attestation"
                                   ng-model="adminCtrl.config.certificateNumber"
                                   ng-model-options="{ updateOn: 'blur' }"
                                   ng-change="adminCtrl.updateCertificateNumber()"
                                   aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="withVat">Facture avec TVA</label>
                            <input type="checkbox" id="withVat" ng-model="adminCtrl.config.withVat"
                                   ng-model-options="{ updateOn: 'blur' }" ng-change="adminCtrl.updateWithVat()"
                                   aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="tva">Taux de TVA</label>
                            <input type="text" class="form-control" id="tva" ng-model="adminCtrl.config.vatRate"
                                   ng-model-options="{ updateOn: 'blur' }" ng-change="adminCtrl.updateVatRate()"
                                   aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
