<section>
    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <li ng-class="{ active:tab.isSet(1) }">
                <a href ng-click="tab.setTab(1)">Bons de Livraison</a>
            </li>
            <li ng-class="{ active:tab.isSet(2) }">
                <a href ng-click="tab.setTab(2)">Catalogue</a>
            </li>
            <li ng-class="{ active:tab.isSet(3) }">
                <a href ng-click="tab.setTab(3)">Administration</a>
            </li>
        </ul>

        <!--  Bon de livraisons Tab's Content  -->
        <home-bl ng-show="tab.isSet(1)"></home-bl>

        <!--  Catalog Tab's Content  -->
        <home-catalog ng-show="tab.isSet(2)"></home-catalog>

        <!--  Admin Tab's Content  -->
        <home-admin ng-show="tab.isSet(3)"></home-admin>
    </div>
</section>
