<!--  Bon de Livraison Tab's Content  -->
<div ng-show="tab.isSet(1)" ng-controller="BLController as blCtrl" class="ng-scope">
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group">
                <!--<label for="referenceCde">Référence Commande:</label>-->
                <button class="btn btn-default dropdown-toggle" type="button" id="referenceCde"
                        data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                    Référence Commande
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu scrollable-menu" aria-labelledby="referenceCde">
                    <li ng-repeat="commande in blCtrl.commandes"><a ng-click="blCtrl.commandeSelected(commande)">{{commande.commandeReference}}</a></li>
                </ul>
                <!--<ul class="dropdown-menu" aria-labelledby="referenceCde">-->
                <!--<li><a href="#">Action</a></li>-->
                <!--<li><a href="#">Another action</a></li>-->
                <!--<li><a href="#">Something else here</a></li>-->
                <!--<li><a href="#">Separated link</a></li>-->
                <!--</ul>-->
                <button class="btn btn-default">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Rafraichir
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="tableCde" data-toggle="table">
                <thead>
                <tr>
                    <th data-align="center">Ligne</th>
                    <th>Article</th>
                    <th>Description</th>
                    <th data-align="center">Quantité</th>
                    <th>Echéance</th>
                    <th data-checkbox="true">Test</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>John</td>
                    <td>Carter</td>
                    <td>Carter</td>
                    <td>johncarter@mail.com</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Peter</td>
                    <td>Parker</td>
                    <td>Parker</td>
                    <td>peterparker@mail.com</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>John</td>
                    <td>Rambo</td>
                    <td>johnrambo@mail.com</td>
                    <td>johnrambo@mail.com</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    //    $(document).ready(function() {
    //        $('tableCde').bootstrapTable();
    //    });

    $(function () {
        $('#tableCde').bootstrapTable();
//        var $table = $('#table-transform');
//        $('#transform').click(function () {
//            $table.bootstrapTable();
//        });
//        $('#destroy').click(function () {
//            $table.bootstrapTable('destroy');
//        });
    });
</script>