<!--  Bon de Livraison Tab's Content  -->
<div ng-show="tab.isSet(1)" ng-controller="BLController as blCtrl" class="ng-scope">
    <br>

    <div class="row">
        <div class="col-md-8">
            <div class="btn-group">
                <button class="btn btn-default dropdown-toggle" type="button" id="referenceCde"
                        data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                    {{blCtrl.orderListLabel}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu scrollable-menu" aria-labelledby="referenceCde">
                    <li ng-repeat="order in blCtrl.orders"><a ng-click="blCtrl.orderSelected(order)">{{order.orderReference}}</a>
                    </li>
                </ul>
                <button class="btn btn-primary">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                </button>
            </div>
        </div>
        <div class="col-md-2">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">BL</span>
                <input type="number" class="form-control" id="invoiceNumber" ng-model="blCtrl.invoiceNumber"
                       aria-describedby="basic-addon1">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" ng-click="blCtrl.updateInvoiceNumber()">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-2">
            <button id="blButton" class="btn btn-primary pull-right" ng-click="blCtrl.printBL()">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Bon de Livraison
            </button>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-12">
            <table id="tableCde" data-method="load" data-height="499" data-toggle="table" data-click-to-select="true">
                <thead>
                <tr>
                    <th data-field="line" data-align="center">Ligne</th>
                    <th data-field="reference">Article</th>
                    <th data-field="description">Description</th>
                    <th data-field="quantity" data-align="center">Quantité</th>
                    <th data-field="dueDate" data-align="center" data-formatter="dateFormatter">Echéance</th>
                    <th data-checkbox="true">Test</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#tableCde').bootstrapTable();

        $(window).resize(function () {
            $('#tableCde').bootstrapTable('resetView');
        });
//        var $table = $('#table-transform');
//        $('#transform').click(function () {
//            $table.bootstrapTable();
//        });
//        $('#destroy').click(function () {
//            $table.bootstrapTable('destroy');
//        });

//        $('#blButton').click(function () {
//            alert('Selected values: ' + JSON.stringify($table.bootstrapTable('getSelections')));
//        });
    });

    function dateFormatter(value) {
        return moment(value).locale('fr').format('LL');
    }
</script>